<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659706924382-ushctakttkqfqae9erv3ndg9jl1r57vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659706924382-ushctakttkqfqae9erv3ndg9jl1r57vt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>659706924382-f0lio423oflbhddku5shbaeo3krrr3d0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBu0GlLf3qFH9KCshHDA-hmCbnOV4Nk8E</string>
	<key>GCM_SENDER_ID</key>
	<string>659706924382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novelship.novelship</string>
	<key>PROJECT_ID</key>
	<string>novelship-app</string>
	<key>STORAGE_BUCKET</key>
	<string>novelship-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:659706924382:ios:c1557bab82697a210153cf</string>
</dict>
</plist>
